{% extends 'base.html.twig' %}

{% block title %} Player {{ gameName }} Hello Controller!{% endblock %}
{% block body %}


_________________________________________________________
<div class="example-wrapper">
    <h1>Gracz {{ gameName }} na serwerze {{ tagLine }} nie został odnaleziony! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/Tournament_Tracker/src/Controller/PlayerController.php'|file_link(0) }}">src/Controller/PlayerController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/Tournament_Tracker/templates/player/player_not_found.html.twig'|file_link(0) }}">templates/player/player_not_found.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
