{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <div class="flex flex-row flex-wrap w-full">
        <div class="basis-full grow p-8">
            History game {{game.matchID}}
        </div>
        <div class="basis-1/2 p-8">
            {{ game.participants.0.summonerName }}<br>
            {{ game.participants.1.summonerName }}<br>
            {{ game.participants.2.summonerName }}<br>
            {{ game.participants.3.summonerName }}<br>
            {{ game.participants.4.summonerName }}
        </div>
        <div class="basis-1/2 p-8">
            {{ game.participants.5.summonerName }}<br>
            {{ game.participants.6.summonerName }}<br>
            {{ game.participants.7.summonerName }}<br>
            {{ game.participants.8.summonerName }}<br>
            {{ game.participants.9.summonerName }}
        </div>
    </div>


    <div class="min-h-full">
        <header class="bg-white shadow">
            <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
            </div>
        </header>
        <main>
            <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
                <!-- Replace with your content -->
                <div class="px-4 py-6 sm:px-0">
                    <div class="h-96 rounded-lg border-4 border-dashed border-gray-200">
                        tekst
                    </div>
                </div>
                <!-- /End replace -->
            </div>
        </main>
    </div>

    <div>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/Tournament_Tracker/src/Controller/GameController.php'|file_link(0) }}">src/Controller/GameController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/Tournament_Tracker/templates/game/index.html.twig'|file_link(0) }}">templates/game/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
